.sub_menu{
	display: none;
	width: 170px;
	list-style: none;
	padding-left: 0;
	position: absolute;
	/*top: 47px;*/
	background: #fff;
}
.main-menu li {
	position: relative;
}
.main-menu li:hover .sub_menu {
	display: block;
	    border: 1px solid #e0e0e0;
    border-top: none;
}
a, a:hover {
	text-decoration: none !important;
}
.header .container > .navbar-header {
	margin-top: 0;
	margin-bottom: 0;
}
.header .navbar-brand {
	top: 0;
	padding-bottom: 0;
}
.header .container > .navbar-collapse {
	margin-bottom: 0;
}
.header {
	padding-top: 2px;
}
.header .navbar-nav {
	margin-top: 30px;
	padding-bottom: 0;
}
.sub_menu a {
	display: block;
    padding: 5px 10px;
}
.sub_menu a:hover {
	color: #fff;
	background: #f17f34;
}
#bizapp-footer {
    padding: 46px 0px 0px 0px;
    color: #fff;
    width: 100%;
    float: left;
}
#bizapp-footer {
    padding: 80px 0 10px 0;
    background: #212330;
}
.e-heading {
    color: #fff;
    display: inline-block;
    padding: 0 0 2px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-left: -15px;
}
#inquiry_form_id .contact-title {
    color: #999;
    margin-bottom: 20px;
}
.inquiry_form input, .inquiry_form button {
    background: #120f1d;
    border: 0;
}
#inquiry_form_id label {
    color: #999;
    font-weight: bold;
}
.inquiry_form button {
	display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #3cadea;
    color: #121629;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0;
    color: white;
    border-radius: 4px !important;
    width: 100%;
    border-radius: 5px;
    border: none;
    line-height: 35px;
}
.btn-primary {
    color: white;
    background-color: #0785dd !important;
    border-color: #0785dd !important;
}
#bizapp-footer a {
    color: #999;
    font-size: 14px;
    line-height: 20px;
}
#bizapp-footer li:not(.e-heading) {
    list-style: disc;
    color: #5391fd;
    margin: 10px 0;
}
#bizapp-footer .li-block {
    min-height: 100px;
    margin-bottom: 25px;
}
#bizapp-footer .bg_footer li {
    list-style: none;
    margin: 5px 0;
    float: left;
    width: 100%;
}
.bg_footer i.fa {
    font-size: 20px;
    margin-right: 10px;
    width: 14px;
}
.bg_footer i.fa {
    font-size: 20px;
    margin-right: 10px;
    width: 14px;
}
body .text-gray-lighter {
    color: #cccccc;
}
.info-line-left {
    float: left;
    width: 25px;
}
.info-line-right {
	font-weight: bold;
    float: right;
    width: calc(100% - 25px);
}
.bg_footer hr {
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0;
    border-top: 1px solid #999;
}
.bg_footer {
    background: url(../images/footer.png) no-repeat;
    height: auto;
    background-size: 45%;
    background-position: right bottom;
    padding-bottom: 40px;
}
#footer-bottom {
    background: #191828;
    padding: 20px 0px 20px 0px;
    margin-top: 20px;
}
#footer-bottom ul li, #footer-bottom ul li a {
    color: #0c697b!important;
}
.footer .col-left ul li {
    padding-right: 10px !important;
    border-right: 1px solid #0c697b;
}
.footer ul li:last-child {
    border: none;
}

.body-lookup {
   
    margin: 0;
    background: url(../images/Background-2.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    z-index: 1;
    background-blend-mode: overlay;
}
.navbarSearch {
    margin-top: 15px;
    margin-right: -40px;
}

.nav > li > a {
    padding: 3px 10px 1px 23px;
    color: white;
    font-size: 15px;
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: none;
    border-radius: 4px 4px 0 0;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}

.txtSearch {
    display: none;
    position: relative;
    left: 21px;
    top: 1px;
}

#divfooter {
    padding-right: 0px !important;
    float: left;
    position: relative;
    width: 100%;
    opacity: 0.9;
}

#content {
    text-align: center;
    width: 100%;
    min-height: calc(100vh - 58px - 230px);
    padding-top: 40px;
    padding-bottom: 200px;
}

#fbarcnt {
    position: relative;
    height: auto;
    visibility: visible;
    background-color: #E2E3E5;
}

.showSearch {
    position: relative;
    left: -6px;
    display: none;
    z-index: 99999;
    cursor: pointer;
    position: relative;
    top: 1px;
}

.hideSearch {
    margin-left: 29px;
    display: inline-block;
    margin-left: 29px;
    z-index: 2;
    cursor: pointer;
    position: relative;
    top: 2px;
}

/*footer*/
.footerTCHD {
    background-color: #1967b2;
    height: 288px;
    display: block;
}

.headFooter {
    height: 108px;
    background-color: #1967b2;
    display: block;
    text-align: center;
    padding-top: 24px;
    width: 100%;
}


.contentFooter {
    height: 170px;
    width: 100%;
    /*margin-left: 180px;
        margin-right: 180px;*/
    background-color: #1967b2;
    padding-top: 15px;
}

.divhr {
    margin-top: -10px;
    width: 95%;
    /*margin-left: 167px;*/
    background-color: #c8dcee;
}

.headFooterText {
    color: rgb(255, 255, 255);
    font-size: 28px;
    margin-right: 59px;
    
}

.headFooterText1 {
    color: #0057ae;
    font-size: 18px;
    color: rgb(82, 251, 42);
    margin-right: 59px;
    
}

hr {
    color: #117bbf;
    margin-top: 0px;
    margin-bottom: 1px;
    border-top: 1px solid #117bbf;
}

.imgstyle {
    padding-right: 5px;
    padding-bottom: 10px;
}

.divDK {
    margin-top: 30px;
    display: block;
    border-radius: 4px;
    background-color: #0f4276;
    width: 197px;
    height: 225px;
}

.p1 {
    font-size: 22px;
    color: #82929A;
    
    color: rgb(82, 251, 42);
    margin-top: -4px;
}

.p2 {
    font-size: 14px;
    
    color: #82929A;
    color: rgb(255, 255, 255);
    margin-top: -8px;
    text-align: justify !important;
    float: left;
}

.p3 {
    font-size: 18px;
    color: rgb(255, 255, 255);
    padding: 12px;
    padding-left: 16px;
    
    margin-top: 12px;
    text-align: justify;
}

.btn-primary1 {
    color: #0d3c6b;
    background-color: #52fb2a;
    border-color: #52fb2a;
    margin-right: 5px;
    margin-left: 13px;
    width: 170px;
    height: 48px;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 5px;
    font-weight: bold;
}

#divfooter {
    position: fixed;
    bottom: 0px;
    padding-right: 25px;
    width: 100%;
    display: block;
}

.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.imgFooter1 {
    margin-left: 55px;
}

.imgFooter2 {
    margin-left: 90px;
}

/*Invoice Loockup*/
.btnSearch {
    height: 45px;
    width: 150px;
    margin-left: -6px;
    font-size: 20px !important;
}

.divTooltip {
    color: rgb(25, 103, 178);
    width: 280px;
}

.ulTooltip {
    margin-left: -25px;
}

    .ulTooltip li {
        padding-bottom: 10px;
    }

        .ulTooltip li:last-child {
            padding-bottom: 0px;
        }

#txtInvoiceCode {
    height: 38px !important;
    font-size: 17px !important;
    border-color: #1967b2;
    position: relative;
}

    #txtInvoiceCode::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        font-style: italic;
        color: #8f8f8f;
    }

    #txtInvoiceCode::-moz-placeholder { /* Firefox 19+ */
        font-style: italic;
        color: #8f8f8f;
    }

    #txtInvoiceCode:-ms-input-placeholder { /* IE 10+ */
        font-style: italic;
        color: #8f8f8f;
    }

    #txtInvoiceCode:-moz-placeholder { /* Firefox 18- */
        font-style: italic;
        color: #8f8f8f;
    }

.rblist {
    margin-left: -28px;
    padding-left: 20px;
}

.ruInputs li {
    margin: 0 0 0px !important;
}

.input-group {
    padding-top: 3px;
    width: 710px;
}

.input-group-addon {
    padding: 4px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #52fb2a;
    text-align: center;
    background-color: #1464b1;
    border: 0px solid #ccc;
    border-radius: 4px;
}

.displaynone {
    display: none;
}

.rblist input[type="radio"] {
    margin-left: 10px;
    margin-right: 1px;
}

.rblist, table, tr, td {
    padding-right: 30px;
}

.rblist {
    margin-left: -150px;
}

#imgSupport .popover {
    width: 200px;
}

.TCHD {
    color: rgb(25, 103, 178);
    font-size: 60px;
}

.SearchXML {
    cursor: pointer;
    position: absolute;
    top: 7px;
    right: 5px;
    z-index: 100;
}

.divInvoiceCode {
    position: relative;
    height: 38px;
    width: 560px;
}

.btnUpoadXML {
    height: 45px;
    width: 150px;
    font-size: 20px !important;
    padding-top: 7px;
    margin-right: 7px;
}

#btnSearch-popover {
    left: auto !important;
    height: 38px !important;
    width: 150px !important;
}

.input-group-btn .btn.btn-primary {
    height: 38px !important;
    font-size: 17px !important;
}

.note {
    color: rgb(25, 103, 178);
    font-size: 15.1px;
}

.spanblue {
    color: blue;
    text-decoration: underline;
}

.no-padding {
    padding: 0 !important;
}
.price-page .home-price .price-box-padding-first {
    padding: 0;
    z-index: 1;
}
.new-col-md-1, .new-col-md-2, .new-col-md-3, .new-col-md-4, .new-col-md-5, .new-col-md-6, .new-col-md-7, .new-col-md-8, .new-col-md-9, .new-col-md-10, .new-col-md-11, .new-col-md-12, .new-col-md-13, .new-col-md-14, .new-col-md-15, .new-col-md-16, .new-col-md-17, .new-col-md-18, .new-col-md-19, .new-col-md-20, .new-col-md-21, .new-col-md-22, .new-col-md-23, .new-col-md-24 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 980px){
	.new-col-md-1, .new-col-md-2, .new-col-md-3, .new-col-md-4, .new-col-md-5, .new-col-md-6, .new-col-md-7, .new-col-md-8, .new-col-md-9, .new-col-md-10, .new-col-md-11, .new-col-md-12, .new-col-md-13, .new-col-md-14, .new-col-md-15, .new-col-md-16, .new-col-md-17, .new-col-md-18, .new-col-md-19, .new-col-md-20, .new-col-md-21, .new-col-md-22, .new-col-md-23, .new-col-md-24 {
	    float: left;
	}
	.new-col-md-offset-3 {
    	margin-left: 12.5%;
	}
	.new-col-md-6 {
	    width: 25%;
	}
	.new-col-md-24 {
	    width: 100%;
	}
	.new-col-md-13 {
	    width: 54.16666667%;
	}
	.new-col-md-offset-4 {
	    margin-left: 16.66666667%;
	}
	.new-col-md-8 {
	    width: 33.33333333%;
	}
	.new-col-md-6 {
	    width: 25%;
	}
}

#dang-ky-ngay {
    background: url(../images/hoa-don-dien-tu-footer.jpg) center;
    background-size: cover;
}
#dang-ky-ngay .bg {
    background: rgba(0, 0, 0, 0.74);
    padding: 40px 0;
}
#dang-ky-ngay .bg h2 {
    color: #ffffff;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 28px;
    text-align: center;
    text-align: center;
}
#dang-ky-ngay .bg p {
    color: #ffffff;
    font-size: 20px;
    text-align: center;
}
.bd .line-color {
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
    background: #ddd none repeat scroll 0 0;
    height: 1px;
    width: 35%;
}
.bd .line-color label {
    width: 30%;
    border-top: 2px solid #f2742e;
    height: 1px;
    display: block;
    margin: 0 auto;
    font-weight: 700;
}
#dang-ky-ngay .bg h4 {
    color: #ffffff;
}
#formDangkyDoanhnghiep h4, #formDangkyCanhan h4 {
    text-align: center;
    margin-bottom: 20px;
}
#dang-ky-ngay .bg input {
    margin-top: 5px;
}
#formDangkyDoanhnghiep input {
    font-size: 15px;
}
#formDangkyDoanhnghiep button {
    margin: 0 auto;
    display: block;
}
.btn-warning {
    background: #f2742e;
    color: #ffffff;
}
.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
#dang-ky-ngay .bg p.cskh {
    font-size: 16px;
}
#dang-ky-ngay .bg p {
    color: #ffffff;
    font-size: 20px;
    text-align: center;
}
#formDangkyCanhan {
	text-align: center;
}